html,
body {
  height: 100%;
}

:root {
  --blue: #4d7ae8;
  --primary: #4d7ae8;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #292841;
}

.hello {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.circle {
  width: 30px; 
  height: 30px; 
  background: #747f8d; 
  border-radius: 50px; 
  position: relative; 
  top: 145px; 
  left: 195px;
}

/* .hello {
  height: 65%;
  position: relative;
  text-align: center; 
  margin: 0;
  position: absolute;
  top: 65%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.button {
  background-color: #4d7ae8;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 1;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  border-radius: 7px;
}


.button:hover {opacity: 0.6}

.btn-group button {
  padding: 12px 24px;
  cursor: pointer;
  width: 100%;
  display: block;
} */
